<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
    </header>
    <div class="main-container">
        <h1>Добро пожаловать в наш чат<br />
        Чтобы продолжить пройдите <a href="{% url 'account_signup' %}">регистрацию</a> или <a href="{% url 'account_login' %}">войдите</a></h1>
    </div>
</body>
</html>